<!DOCTYPE html>
<html lang="en">
<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>二手交易商城-关于</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>

<div class="house-header">
  <div class="layui-container">
    <div class="house-nav">
      <span class="layui-breadcrumb" lay-separator="|">
        <a href="login.html">登录</a>
        <a href="">我的订单</a>
        <a href="">在线客服</a>
      </span>
      <span class="layui-breadcrumb house-breadcrumb-icon" lay-separator=" ">
        <a id="search"><i class="layui-icon layui-icon-house-find"></i></a>
        <a href="login.html"><i class="layui-icon layui-icon-username"></i></a>
        <a href="usershop.html"><i class="layui-icon layui-icon-house-shop"></i></a>
      </span>
    </div> 
    <div class="house-banner layui-form">
      <a class="banner" href="/sumClassify/all">
        <img src="/static/img/banner.png" alt="二手交易商城">
      </a>
      <div class="layui-input-inline">
        <input type="text" placeholder="搜索好物" class="layui-input"><i class="layui-icon layui-icon-house-find"></i>
      </div>
      <a class="shop" href="usershop.html"><i class="layui-icon layui-icon-house-shop"></i><span class="layui-badge" th:text="${session.shoppingcarmsgSumnum}"></span></a>
    </div>
    <ul class="layui-nav close">
      <li class="layui-nav-item layui-this"><a href="/sumClassify/all">首页</a></li>
      <li class="layui-nav-item" th:each="sumclassify : ${session.sumClassifies2}"><a th:href="'/list?sumclassifyName='+${sumclassify.getSumclassifyName()}+'&sumclassifyId='+${sumclassify.getSumclassifyId()}+'&pageNum=1&pageSize=3'" th:text="${sumclassify.getSumclassifyName()}"></a></li>
    </ul>
    <button id="switch">
      <span></span><span class="second"></span><span class="third"></span>
    </button>
  </div>
</div>

<div class="layui-fulid house-about">
  <div class="house-about-banner"></div>
  <div class="layui-row">
    <p class="title">精心采购</p>
    <p>百家货源千挑万选，只为保证最优质量</p>
    <div class="buy">
      <div class="layui-col-xs6"><img src="/static/img/us_img1.jpg"></div>
      <div class="layui-col-xs6"><img src="/static/img/us_img2.jpg"></div>
    </div>
    <p class="title">严格品质</p>
    <p>专业质检团队细心层层把关</p>
    <div class="screen">
      <div class="layui-col-xs4"><img src="/static/img/us_img3.png"></div>
      <div class="layui-col-xs4"><img src="/static/img/us_img4.png"></div>
      <div class="layui-col-xs4"><img src="/static/img/us_img5.png"></div>
    </div>
    <p class="title">配送售后</p>
    <p>给您最快最安全的物流，最优质的售后服务</p>
    <div class="after">
      <div class="layui-col-xs4"><span><i class="layui-icon layui-icon-house-shield"></i></span><p>7天无理由退换货</p></div>
      <div class="layui-col-xs4"><span><i class="layui-icon layui-icon-house-car"></i></span><p>全场满99元顺丰包邮</p></div>
      <div class="layui-col-xs4"><span><i class="layui-icon layui-icon-house-service"></i></span><p>优质客服服务</p></div>
    </div>
  </div>
</div>

<div class="house-footer">
  <div class="layui-container">
    <div class="intro">
      <span class="first"><i class="layui-icon layui-icon-house-shield"></i>7天无理由退换货</span>
      <span class="second"><i class="layui-icon layui-icon-house-car"></i>满99元全场包邮</span>
      <span class="third"><i class="layui-icon layui-icon-house-diamond"></i>100%品质保证</span>
      <span class="last"><i class="layui-icon layui-icon-house-tel"></i>客服400-2888-966</span>
    </div>
    <div class="about">
      <span class="layui-breadcrumb" lay-separator="|">
        <a href="/about">关于我们</a>
        <a href="/about">帮助中心</a>
        <a href="/about">售后服务</a>
        <a href="/about">配送服务</a>
        <a href="/about">关于货源</a>
      </span>
      <p>家居商城版权所有 &copy; 2012-2020</p>
    </div>   
  </div>
</div>

<script src="/layui/layui.js"></script>
<script>
  layui.config({
    base: '/static/js/' //layui自定义layui组件目录
  }).use(['jquery','layer','element'],function () {
    var $ = layui.jquery
            ,layer = layui.layer
            ,element=layui.element;
    //上面已经引入了jquery的ajax方法，下面直接传参到后台
    $.ajax({
      type: "post",
      url: "/shoppingCarMsg/note",//请求地址已在另一处设置
      data: {telephone:"18780811904"},
      dataType: "json",
      success: function(result){
        console.log(result);
      }
    });
  });
</script>
<script>
  layui.config({
    base: '/static/js/'
  }).use('house'); 
</script>

</body>
</html>