<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>地址框</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body style="padding: 0;">

<div class="layui-form" lay-filter="useradd-iframe" id="useradd-iframe" style="padding: 0 40px 0 20px;">
    <div class="layui-form-item">
        <label class="layui-form-label"><span>*</span>所在地区：</label>
        <div class="layui-input-inline">
            <select lay-verify="required" id="user-province1">
                <option value="">请选择</option>
                <option value="0">四川省</option>
                <option value="1">广东省</option>
                <option value="2">陕西省</option>
            </select>
        </div>
        <div class="layui-input-inline">
            <select lay-verify="required" id="user-province2">
                <option value="">请选择</option>
                <option value="0">南昌市</option>
                <option value="1">九江市</option>
                <option value="2">赣州市</option>
            </select>
        </div>
        <div class="layui-input-inline">
            <select lay-verify="required" id="user-province3">
                <option value="">请选择</option>
                <option value="0">青山湖区</option>
                <option value="1">高新区</option>
                <option value="2">东湖区</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span>*</span>详细地址：</label>
        <div class="layui-input-block">
            <textarea lay-verify="required" placeholder="详细地址，街道、门牌号等" class="layui-textarea"
                      id="user-province4"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span>*</span>收货人：</label>
        <div class="layui-input-inline">
            <input type="text" required lay-verify="required" class="layui-input" id="consignee">
        </div>
        <label class="layui-form-label telephone"><span>*</span>手机号码：</label>
        <div class="layui-input-inline">
            <input type="text" required lay-verify="required|phone" class="layui-input" id="telephone">
        </div>
    </div>
    <input class="checkdef" type="checkbox" name="checkbox" lay-skin="primary" title="设为默认" checked>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="useradd-submit" id="useradd-submit" value="确认">
    </div>
    <!--<button id="currentbuy" value="确认">确认</button>-->

</div>


<script src="/layui/layui.js"></script>
<script>
    layui.config({
        base: '/static/js/' //layui自定义layui组件目录
    }).use(['jquery', 'layer', 'element'], function () {
        var $ = layui.jquery
            , layer = layui.layer
            , element = layui.element;

        //是否默认
        var sureAddress="";
        $('#useradd-submit').on('click', function () {
            var singlecenterAddress1 = $("#user-province1").val();
            var singlecenterAddress2 = $("#user-province2").val();
            var singlecenterAddress3 = $("#user-province3").val();
            var singlecenterAddress4 = $("#user-province4").val();
            // 最终地址
            var singlecenterAddress = singlecenterAddress1 + singlecenterAddress2 + singlecenterAddress3 + singlecenterAddress4;
            // 手机号
            var sTelephone = $("#telephone").val();
            // 收货人
            var singlecenterConsignee = $("#consignee").val();
            if($("input[name=checkbox]:checked").prop("checked")){
                sureAddress="是";
            }else{
                sureAddress="否";
            }

            $.ajax({
                type: "get",
                url: "/insertAddress9?singlecenterAddress=" + singlecenterAddress + "&sTelephone=" + sTelephone + "&singlecenterConsignee=" + singlecenterConsignee,
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    if(result.code==200){
                        window.location.href = "/userAdd";
                    }
                }
            })
        })
    })

</script>
<script>
    layui.config({
        base: '/static/js/'
    }).use('house');
</script>

</body>
</html>