<!DOCTYPE html>
<html lang="en">
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head"></head>
<body>

<!-- 网页头部 -->
<div th:replace="common/house-head :: house-head"></div>


<!--  图片轮播 -->
<div class="layui-fulid">
  <div class="layui-carousel house-carousel" id="house-carousel">
    <div carousel-item>
      <div><img src="/static/img/banner.jpg"></div>
      <div><img src="/static/img/banner.jpg"></div>
    </div>
  </div>
</div>

<!-- 推荐 -->
<div class="layui-container">
  <div class="hot-cate">
    <p class="house-title">热门分类</p>
    <div class="layui-row">
      <div class="layui-col-xs4 cateFir cate" th:each="sumclassify : ${top}">
        <a id="clickNum2" th:href="'/list?sumclassifyName='+${sumclassify.getSumclassifyName()}+'&sumclassifyId='+${sumclassify.getSumclassifyId()}+'&pageNum=1&pageSize=3'" >
          <img th:src="${sumclassify.getSumclassifyLogo()}">
          <div>
            <input id="clickId2" type="hidden" th:value="${sumclassify.getSumclassifyId()}" />
            <p id="name2" th:text="${sumclassify.getSumclassifyName()}"></p>
            <span th:text="${sumclassify.getSumclassifyMoney()}"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="hot-sell">
    <p class="house-title">热销推荐<a href="/list?sumclassifyName=居家用品&sumclassifyId=1&pageNum=1&pageSize=3">更多优品  &gt;</a></p>
    <div class="layui-row layui-col-space20" >
      <a th:href="'/detail?goodsId='+${good.getGoodsId()}+'&pageNum=1&pageSize=3'" class="layui-col-xs3 text" th:each="good : ${goods}">
        <div><img th:src="${good.getGoodsLogo()}"></div>
        <p th:text="${good.getGoodsName()}"></p>
        <p class="price">￥<span th:text="${good.getGoodsPrice()}"></span></p>
      </a>
    </div>
  </div>
  <div class="hot-sell">
    <p class="house-title">新品推荐<a href="/list?sumclassifyName=居家用品&sumclassifyId=1&pageNum=1&pageSize=3">更多优品  &gt;</a></p>
    <div class="layui-row layui-col-space20">
      <a th:href="'/detail?goodsId='+${good.getGoodsId()}+'&pageNum=1&pageSize=3'" class="layui-col-xs3 text" th:each="good : ${upTime}">
        <div><img th:src="${good.getGoodsLogo()}"></div>
        <p th:text="${good.getGoodsName()}"></p>
        <p class="price">￥<span th:text="${good.getGoodsPrice()}"></span></p>
      </a>
    </div>
  </div>
</div>

<!-- 全部商品 -->
<div class="layui-fulid" id="goodsAll"></div>

<!-- 猜你喜欢 -->
<div class="layui-container">
  <div class="hot-sell">
    <p class="house-title">猜您喜欢<a href="/list?sumclassifyName=居家用品&sumclassifyId=1&pageNum=1&pageSize=3">更多新品  &gt;</a></p>
    <div class="layui-row layui-col-space20">
      <a th:href="'/detail?goodsId='+${good.getGoodsId()}+'&pageNum=1&pageSize=3'" class="layui-col-xs3 text" th:each="good : ${like}">
        <div><img th:src="${good.getGoodsLogo()}"></div>
        <p th:text="${good.getGoodsName()}"></p>
        <p class="price">￥<span th:text="${good.getGoodsPrice()}"></span></p>
      </a>
    </div>
  </div>
</div>

<div class="layui-fulid" id="champ">
  <div class="layui-row">
    <a href="/list?sumclassifyName=居家用品&sumclassifyId=1&pageNum=1&pageSize=3" class="layui-col-xs3">
      <img src="/static/img/home_img16.jpg">
    </a>
    <a href="/list?sumclassifyName=居家用品&sumclassifyId=1&pageNum=1&pageSize=3" class="layui-col-xs6">
      <img src="/static/img/home_img17.jpg">
    </a>
    <a href="/list?sumclassifyName=居家用品&sumclassifyId=1&pageNum=1&pageSize=3" class="layui-col-xs3">
      <img src="/static/img/home_img20.jpg">
    </a>
    <a href="/list?sumclassifyName=居家用品&sumclassifyId=1&pageNum=1&pageSize=3" class="layui-col-xs3">
      <img src="/static/img/home_img18.jpg">
    </a>
    <a href="/list?sumclassifyName=居家用品&sumclassifyId=1&pageNum=1&pageSize=3" class="layui-col-xs3">
      <img src="/static/img/home_img19.jpg">
    </a>
    <a href="/list?sumclassifyName=居家用品&sumclassifyId=1&pageNum=1&pageSize=3" class="layui-col-xs3">
      <img src="/static/img/home_img21.jpg">
    </a>
  </div> 
</div>

<!-- 页面footer -->
<footer th:replace="common/footer :: footer"></footer>

<script>
  layui.config({
    base: '/static/js/' //layui自定义layui组件目录
  }).use(['jquery','layer','element'],function () {
    var $ = layui.jquery
            ,layer = layui.layer
            ,element=layui.element;
    //上面已经引入了jquery的ajax方法，下面直接传参到后台
    $.ajax({
      type: "post",
      url: "/shoppingCarMsg/note",//请求地址已在另一处设置
      data: {telephone:"18780811904"},
      dataType: "json",
      success: function(result){
        console.log(result);
      }
    });
    var allGoods=$('#searchGoods').val();
    $('#selectGoods').on('click',function () {
      $.ajax({
        type:"get",
        url:"/query?goodsName="+allGoods,
        dataType:"json",
        success:function (result) {
          console.log(result);
        }
      })
    })
    var sumclassifyId1=$('#clickId1').val();
    var sumclassifyName1=$('#clickNum').val();
    $('#clickNum').on('click',function () {
      $.ajax({
        type:"get",
        url:"/list?sumclassifyId="+sumclassifyId1+"&sumclassifyName="+sumclassifyName1+"&pageNum=1&pageSize=3",
        dataType:"json",
        success:function (result) {
          console.log(result);
        }
      })
    })
    var sumclassifyId2=$('#clickId2').val();
    var sumclassifyName2=$('#name2').val();
    $('#clickNum2').on('click',function () {
      $.ajax({
        type:"get",
        url:"/list?sumclassifyId="+sumclassifyId2+"&sumclassifyName="+sumclassifyName2+"&pageNum=1&pageSize=3",
        dataType:"json",
        success:function (result) {
          console.log(result);
        }
      })
    })
  });
</script>
<script>
  layui.config({
    base: '/static/js/'
  }).use('house');
</script>

</body>
</html>