<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>家居商城-购物车</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>

<!-- 网页头部 -->
<div th:replace="common/house-head :: house-head"></div>

<div class="layui-container house-usershop">


    <table id="house-usershop-table" lay-filter="house-usershop-table"></table>
    <div class="house-usershop-table-num layui-form">
        <input type="checkbox" lay-skin="primary"><span class="numal">已选 0 件</span>
        <a id="batchDel">批量删除</a>
        <p id="total">合计: ￥<span>0.00</span></p>
        <div id="toCope">
            <p>应付：<big>￥0.00</big></p>
            <!--<span>满减￥20，包邮</span>-->
        </div>
        <button class="layui-btn" id="balance">结算</button>
    </div>


    <p>猜您喜欢</p>
    <ul class="house-usershop-like">
        <li th:each="good:${shoppingcarInYourLike}"><a
                th:href="'/detail?goodsId='+${good.getGoodsId()}+'&pageNum=1&pageSize=3' ">
            <div><img th:src="${good.getGoodsLogo()}"></div>
            <p th:text="${good.getGoodsName()}"></p>
            <p class="price">￥<span th:text="${good.getGoodsPrice()}"></span></p>
        </a></li>
    </ul>
</div>
<input id="mySession" type="hidden" th:value="${mySession}">


<!-- 页面footer -->
<footer th:replace="common/footer :: footer"></footer>


<!--<script type="text/html" id="imgTpl">-->
<!--  <img src="{{d.goodsLogo}}" >-->
<!--</script>-->
<script type="text/html" id="goodsTpl">
    <div>
        <img src="{{d.goods.goodsLogo}}">
        <div style="display: inline-block; text-align: left; vertical-align: top;">
            <p>{{d.goods.goodsName}}</p>
        </div>
    </div>
</script>
<!--<script type="text/html" id="priceTpl">-->
<!--  <p>-->
<!--    <span class="price">{{d.goodsPrice}}</span>-->
<!--    &lt;!&ndash; 原价 &ndash;&gt;-->
<!--    &lt;!&ndash;<del>{{d.original}}</del>&ndash;&gt;-->
<!--  </p>-->
<!--</script>-->
<!--<script type="text/html" id="numTpl">-->
<!--  &lt;!&ndash;<div class="numVal">&ndash;&gt;-->
<!--    &lt;!&ndash;<button class="layui-btn layui-btn-primary sup">-</button>&ndash;&gt;-->
<!--    &lt;!&ndash;<input type="text" class="layui-input" value="{{d.goodsCount}}" />&ndash;&gt;-->
<!--    &lt;!&ndash;<button class="layui-btn layui-btn-primary sub">+</button>&ndash;&gt;-->
<!--    <p >{{d.goodsCount}}</p>-->
<!--  &lt;!&ndash;</div>&ndash;&gt;-->
<!--</script>-->
<!--<script type="text/html" id="totalTpl">-->
<!--  <span class="total" style="color: #cd2d15">￥{{d.goodsSubtotal}}</span>-->
<!--  &lt;!&ndash;d.goodsPrice.slice(1)*d.goodsCount).toFixed(2)&ndash;&gt;-->
<!--</script>-->

<script type="text/html" id="shopTpl">
    <a lay-event="del">删除</a>
</script>
<!--  th:href="'/dropShopping?shoppingcarId={{d.shoppingcarId}}&telephone={{d.telephone}}'"-->


<script src="/layui/layui.js"></script>
<script>
    layui.config({
        base: '/static/js/' //layui自定义layui组件目录
    }).use(['jquery', 'layer', 'element', 'laypage', 'table'], function () {
        var $ = layui.jquery
            , layer = layui.layer
            , element = layui.element
            , laypage = layui.laypage
            , table = layui.table;
        // 上面已经引入了jquery的ajax方法，下面直接传参到后台

        var telephone = [[${session.allTelephone}]]
        $.ajax({
            type: "post",
            url: "/shoppingCarMsg/note",//请求地址已在另一处设置
            data: {telephone: telephone},
            dataType: "json",
            success: function (result) {
                console.log(result);
            }
        });

        // 购物车——表格
        var telephone = [[${session.allTelephone}]];
        table.render({
            elem: '#house-usershop-table'
            , url: '/getMyGoods'
            , where: {telephone: telephone}
            , response: {
                statusCode: 200 //规定成功的状态码,默认0
            }
            , parseData: function (res) {
                return {
                    "count": res.data.total,
                    "data": res.data.list,
                    "code": res.code,
                    "meg": res.message
                };
            }
            , skin: 'line'
            , cols: [ [
                {checkbox: true, fixed: 'left', align: 'center'}
                , {title: '商品', align: 'center', minWidth: 260, templet: '#goodsTpl'}
                , {
                    field: 'goodsPrice', title: '单价', align: 'center', minWidth: 160, templet: function (data) {
                        return data.goods.goodsPrice;
                    }
                }
                , {field: 'shoppingcarNum', title: '数量', align: 'center', width: 150}
                , {field: 'goodsSubtotal', title: '小计', align: 'center', width: 120}
                , {title: '操作', align: 'center', width: 100, templet: '#shopTpl'}
            ]]
            , page: true
            , limits: [1, 2, 3, 4]
            , loading: true
            , done: function (res, curr, count) {
                //数字框
                $(".numVal").each(function () {
                    //获得小计 单价
                    var totalTd = $(this).parents("td").siblings().find(".total")[0]
                        , totalPrice = $(this).parents("td").siblings().find("span").filter(".price")[0].innerHTML;
                    $(this).children("button").each(function (index) {
                        //获得数量
                        var numVal = $(this).parent("div").children("input");
                        $(this).on('click', function () {
                            if (index == "1") {
                                numVal.val(Number(numVal.val()) + 1);
                            } else {
                                numVal[0].value = numVal[0].value > 1 ? numVal[0].value - 1 : 1;
                            }
                            ;
                            totalTd.innerHTML = '￥' + (numVal.val() * totalPrice.slice(1)).toFixed(2)
                        });
                    });
                    $(this).children("input").on('keydown', function (e) {
                        if (e.keyCode === 13) {
                            e.preventDefault();
                            this.value = isNaN(this.value) ? 1 : (this.value > 1 ? this.value : 1);
                            totalTd.innerHTML = '￥' + (this.value * totalPrice.slice(1)).toFixed(2)
                        }
                        ;
                    });
                });
                //合计
                // totalVal();
                if ($("#house-usershop-table").next("div").find(".layui-none").length != 0) {
                    $(".house-usershop-table-num").css("display", "none");
                }
                ;
            }
            , text: {
                none: '<div class="house-usershop-table-none"><div><img src="/static/img/shopnone.png"></div><p>购物车空空如也</p><a class="layui-btn layui-btn-primary" href="list.html">去逛逛</a></div>'
            }
            , id: 'house-usershop-table'
        });

        // 合计


        var goodsVal = $(".house-usershop").find("#total").children("span")
            , copyWith = $(".house-usershop").find("#toCope").children("p").children("big")
            , copyTips = $(".house-usershop").find("#toCope").children("span");
        //监听复选框选择 获得总数
        table.on('checkbox(house-usershop-table)', function (obj) {
            var checkStatus = table.checkStatus('house-usershop-table');
            var checkData = checkStatus.data;
            goodsVal[0].innerHTML = 0;
            console.log(goodsVal[0]);
            $(checkStatus.data).each(function () {
                console.log(goodsVal[0]+"点击后");
                console.log(this.shoppingcarSubtotal);
                console.log(this.shoppingcarNum);
                console.log(this);
                console.log();
                console.log();
                goodsVal[0].innerHTML = parseFloat(this.shoppingcarSubtotal * this.shoppingcarNum) + Number(goodsVal[0].innerHTML);

                // table.reload('house-usershop-table');
                // $(".house-usershop-table-num").children("input")[0].checked = false;
                // form.render('checkbox');
                // console.log(checkStatus.data.length+"ha");
                // $(".house-usershop-table-num").children(".numal").html('已选 ' + checkStatus.data.length + ' 件')
                // copyWith[0].innerHTML = goodsVal[0].innerHTML = '￥0.00';
                copyTips.css("display", "none");

            });
            $(".house-usershop-table-num").children(".numal").html('已选 ' + checkStatus.data.length + ' 件');


            //满减
            // if (goodsVal[0].innerHTML > 200) {
            //     copyWith[0].innerHTML = '￥' + (goodsVal[0].innerHTML - 20).toFixed(2)
            //     copyTips.css("display", "inline-block");
            // } else {
                copyWith[0].innerHTML = '￥' + parseFloat(goodsVal[0].innerHTML).toFixed(2);
                copyTips.css("display", "none");
            // }



            //转换格式
            // goodsVal[0].innerHTML = parseFloat(goodsVal[0].innerHTML).toFixed(2);
            // if (checkStatus.data.length != 0) {
            //     $(".house-usershop-table-num").children("input")[0].checked = true;
            //     form.render('checkbox');
            // } else {
            //     $(".house-usershop-table-num").children("input")[0].checked = false;
            //     form.render('checkbox');
            // }
            // ;
            // $(".house-usershop-table-num").children(".numal").html('已选 ' + checkStatus.data.length + ' 件');




        });

















        table.on('checkbox(house-usershop-table)', function (obj) {

            // 总价和合计

            var checkStatus = table.checkStatus('house-usershop-table');
            goodsVal[0].innerHTML = 0;
            console.log(goodsVal[0]);
            $(checkStatus.data).each(function () {
                // console.log(goodsVal[0]+"点击后");
                // console.log(this.shoppingcarSubtotal);
                // console.log(this.shoppingcarNum);
                // console.log(this);
                goodsVal[0].innerHTML = parseFloat(this.shoppingcarSubtotal * this.shoppingcarNum) + Number(goodsVal[0].innerHTML);

                console.log(checkStatus.data.length+"--------");
                copyTips.css("display", "none");


            });



            // 更新
            $(".house-usershop-table-num").children(".numal").html('已选 ' + checkStatus.data.length + ' 件');

            copyWith[0].innerHTML = '￥' + parseFloat(goodsVal[0].innerHTML).toFixed(2);
            copyTips.css("display", "none");

        });



















        // 删除单条数据
        table.on('tool(house-usershop-table)', function (obj) {
            var data = obj.data;
            // alert(data.telephone);
            // alert(data.goodsId);
            // alert(data.shoppingcarId);
            if (obj.event === 'del') {
                layer.confirm('确定删除此物品？', function (index) {

                    $.ajax({
                        type: "get",
                        url: "/dropShopping?shoppingcarId=" + data.shoppingcarId + "&telephone=" + data.telephone,//请求地址已在另一处设置
                        dataType: "json",
                        success: function (result) {
                            console.log(result);
                        }
                    });
                    obj.del();
                    layer.close(index);
                });
            }
        })


        // 监听 选框后叠加的价格
        $(".numal").on('click', function () {
            $(".house-usershop-table-num").children(".numal").html('已选 ' + checkData.length + ' 件')
            copyWith[0].innerHTML = goodsVal[0].innerHTML = '￥0.00';
        });


        // 监听 删除选中
        $(".house-usershop").find("#batchDel").on('click', function () {


            var checkStatus = table.checkStatus('house-usershop-table')
                , checkData = checkStatus.data;
            if (checkData.length === 0) {
                layer.msg('请选择数据');
            } else {
                var shoppingcarIds = [];
                //执行 Ajax 操作之后再重载
                // alert(checkData.shoppingcarNum);
                // console.log(checkData);

                for (var i = 0; i < checkData.length; i++) {
                    shoppingcarIds[i] = checkData[i].shoppingcarId;
                    alert(checkData[i].shoppingcarId);
                }
                // alert(shoppingcarIds);






                $.ajax({
                    type: "post",
                    url: "/dropManyShopping",//请求地址已在另一处设置
                    data: {'shoppingcarIds[]': shoppingcarIds, telephone: telephone},
                    dataType: "json",
                    success: function (result) {
                        // 无感刷新，体验超棒
                        $(".layui-laypage-btn")[0].click();
                        layer.msg("删除成功",{time:  1000});
                    }
                });


            }
        });



        //获取浏览器的sessionId
        function getSessionId() {
            var c_name = 'JSESSIONID';
            if (document.cookie.length > 0) {
                c_start = document.cookie.indexOf(c_name + "=")
                if (c_start != -1) {
                    c_start = c_start + c_name.length + 1
                    c_end = document.cookie.indexOf(";", c_start)
                    if (c_end == -1) c_end = document.cookie.length
                    return unescape(document.cookie.substring(c_start, c_end));
                }
            } else {
                var JSESSIONID = $("#mySession").val();
                return JSESSIONID;
            }
        }

        var sessionId = getSessionId();




        // 结算
        $(".house-usershop").find("#balance").on('click', function () {

            var checkStatus = table.checkStatus('house-usershop-table')
                , checkData = checkStatus.data;
            if (checkData.length === 0) {
                layer.msg('请选择数据');
            } else {
                var shoppingcarIds = [];
                //执行 Ajax 操作之后再重载
                // alert(checkData.shoppingcarNum);
                // console.log(checkData);

                for (var i = 0; i < checkData.length; i++) {
                    shoppingcarIds[i] = checkData[i].shoppingcarId;
                }

                $.ajax({
                    type: "post",
                    url: "/shoppingcarJudgeLogin",//请求地址已在另一处设置
                    data: {'shoppingcarIds[]': shoppingcarIds, telephone: telephone, sessionId: sessionId},
                    dataType: "json",
                    success: function (data) {
                        // 无感刷新，体验超棒
                        // $(".layui-laypage-btn")[0].click();
                        // layer.msg("删除成功",{time:  1000});
                        alert(data.code);
                        if (data.code == 201) {
                            window.location.href = "/login";
                        }
                        if (data.code == 200) {
                            // window.location.href = "/purchaseCar?shoppingcarIds[]="+shoppingcarIds+"telephone="+telphone+"sessionId="+sessionId;
                            $.ajax({
                                type: "post",
                                url: "/purchaseCar",
                                data: {'shoppingcarIds[]': shoppingcarIds, telephone: telephone, sessionId: sessionId},
                                dataType: "json",
                                success: function (data) {
                                    layer.msg("购买成功");
                                }
                            });
                        }
                        if (data.code == 600) {
                            window.location.href = "/userAdd";
                        }
                    }
                });
            }


        });
    });
</script>

<script>
    layui.config({
        base: '/static/js/'
    }).use('house');
</script>

</body>
</html>