<!DOCTYPE html>
<html lang="en">
<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>二手交易商城-收藏</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/static/css/index.css">
</head>
<body class="user">

<!-- 网页头部 -->
<div th:replace="common/house-head :: house-head"></div>

<div class="layui-container house-usercol userpublic">
  <div class="layui-row layui-col-space20">
    <p class="layui-hide-xs title">首页 &gt; <span>个人中心</span></p>
    <div class="layui-col-sm2">
      <ul class="user-list">
        <li><a href="/user">个人中心</a></li>
        <li><a href="/userAdd">地址管理</a></li>
        <li class="active"><a th:href="'/selectCollections?telephone='+${session.allTelephone}+'&pageNum=1&pageSize=3'">我的收藏</a></li>
      </ul>
    </div>
    <div class="layui-col-sm10">
      <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
          <li class="layui-this">我的收藏</li>
        </ul>
        <div class="layui-tab-content layui-row layui-col-space30">
          <div class="layui-col-xs3" th:each="collections : ${collections3}">
            <div class="goods">
              <input id="collectionsId" type="hidden" th:value="${collections.getCollectionsId()}">
              <img th:src="${collections.getGoods().getGoodsLogo()}">
              <p th:text="${collections.getGoods().getGoodsName()}"></p>
              <p class="price">￥<span th:text="${collections.getGoods().getGoodsPrice()}"></span></p>
              <span class="del">&times;</span>
            </div>    
          </div>
        </div>
        <div id="userList"></div>
      </div>    
    </div>
  </div>
</div>

<!-- 页面footer -->
<footer th:replace="common/footer :: footer"></footer>

<script src="/layui/layui.js"></script>
<script>
  layui.config({
    base: '/static/js/' //layui自定义layui组件目录
  }).use(['jquery','laypage'],function () {
    var $ = layui.jquery
            , laypage = layui.laypage;
    var count=[[${session.l_count}]];
    var telephone=[[${session.allTelephone}]];
    //执行一个laypage实例
    laypage.render({
      elem: 'userList' //注意，这里的 test1 是 ID，不用加 # 号
      ,count: count //数据总数，从服务端得到
      ,theme: '#daba91'
      ,limit:3
      ,curr:1
      ,prev:'上一页'
      ,netx:'下一页'
      ,first:1
      ,last:50
      ,layout:['page','next']
      ,jump:function (obj,first) {
        if (!first) {
          $('list-detail').empty();
          location.href="/selectCollections?pageNum="+obj.curr+"&pageSize="+obj.limit+"&telephone="+telephone;
        }
      }
    });
    //我的收藏——点击切换
    $(".house-usercol").find(".user-list").children("li").each(function(){
      $(this).on('click', function(){
        $(this).addClass("active").siblings().removeClass("active");
      });
    });
    var collectionsId=$("#collectionsId").val();
    //我的收藏——删除
    $(".house-usercol").find(".layui-tab-content").find(".goods").each(function(){
      $(this).children(".del").on('click', function(){
        $(this).parent("div").parent("div").remove();
        $.ajax({
          type: "post",
          url: "/deleteCollections",
          data: {collectionsId:collectionsId},
          dataType: "json",
          success: function (result) {
            console.log(result);
            window.location.href="/selectCollections?pageNum=1&pageSize=3&telephone="+telephone;
          }
        });
      });
    });
  })
</script>
<script>
  layui.config({
    base: '/static/js/'
  }).use('house'); 
</script>

</body>
</html>