<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rimi.secondhandtradingmall.mapper.CollectionsMapper">
  <resultMap id="BaseResultMap" type="com.rimi.secondhandtradingmall.bean.Collections">
    <!--@mbg.generated-->
    <!--@Table collections-->
    <id column="collections_id" jdbcType="INTEGER" property="collectionsId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    collections_id, goods_id, telephone
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from collections
    where collections_id = #{collectionsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from collections
    where collections_id = #{collectionsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="collections_id" keyProperty="collectionsId" parameterType="com.rimi.secondhandtradingmall.bean.Collections" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into collections (goods_id, telephone)
    values (#{goodsId,jdbcType=INTEGER}, #{telephone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="collections_id" keyProperty="collectionsId" parameterType="com.rimi.secondhandtradingmall.bean.Collections" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into collections
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rimi.secondhandtradingmall.bean.Collections">
    <!--@mbg.generated-->
    update collections
    <set>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
    </set>
    where collections_id = #{collectionsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rimi.secondhandtradingmall.bean.Collections">
    <!--@mbg.generated-->
    update collections
    set goods_id = #{goodsId,jdbcType=INTEGER},
      telephone = #{telephone,jdbcType=VARCHAR}
    where collections_id = #{collectionsId,jdbcType=INTEGER}
  </update>
    <select id="selectByTelephoneAndGoodsId" resultMap="BaseResultMap">
      select * from collections where telephone=#{telephone} and goods_id=#{goodsId}
    </select>
    <select id="selectAllByTelephone" resultMap="BaseResultMap">
      select *  from collections where telephone=#{telephone}
    </select>
</mapper>