<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rimi.secondhandtradingmall.mapper.CommentsMapper">
  <resultMap id="BaseResultMap" type="com.rimi.secondhandtradingmall.bean.Comments">
    <!--@mbg.generated-->
    <!--@Table comments-->
    <id column="comments_id" jdbcType="INTEGER" property="commentsId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="comments_content" jdbcType="VARCHAR" property="commentsContent" />
    <result column="comments_pictures" jdbcType="VARCHAR" property="commentsPictures" />
    <result column="comments_time" jdbcType="VARCHAR" property="commentsTime" />
    <association property="singlecenter" javaType="com.rimi.secondhandtradingmall.bean.Singlecenter">
      <id column="singlecenter_id" jdbcType="INTEGER" property="singlecenterId" />
      <result column="singlecenter_image" jdbcType="VARCHAR" property="singlecenterImage" />
      <result column="telephone" jdbcType="VARCHAR" property="telephone" />
      <result column="singlecenter_dfnum" jdbcType="INTEGER" property="singlecenterDfnum" />
      <result column="singlecenter_dsnum" jdbcType="INTEGER" property="singlecenterDsnum" />
      <result column="singlecenter_mark" jdbcType="INTEGER" property="singlecenterMark" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    comments_id, goods_id, telephone, comments_content, comments_pictures, comments_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from comments
    where comments_id = #{commentsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from comments
    where comments_id = #{commentsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="comments_id" keyProperty="commentsId" parameterType="com.rimi.secondhandtradingmall.bean.Comments" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into comments (goods_id, telephone, comments_content, 
      comments_pictures, comments_time)
    values (#{goodsId,jdbcType=INTEGER}, #{telephone,jdbcType=VARCHAR}, #{commentsContent,jdbcType=VARCHAR}, 
      #{commentsPictures,jdbcType=VARCHAR}, #{commentsTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="comments_id" keyProperty="commentsId" parameterType="com.rimi.secondhandtradingmall.bean.Comments" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into comments
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="commentsContent != null">
        comments_content,
      </if>
      <if test="commentsPictures != null">
        comments_pictures,
      </if>
      <if test="commentsTime != null">
        comments_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="commentsContent != null">
        #{commentsContent,jdbcType=VARCHAR},
      </if>
      <if test="commentsPictures != null">
        #{commentsPictures,jdbcType=VARCHAR},
      </if>
      <if test="commentsTime != null">
        #{commentsTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rimi.secondhandtradingmall.bean.Comments">
    <!--@mbg.generated-->
    update comments
    <set>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="commentsContent != null">
        comments_content = #{commentsContent,jdbcType=VARCHAR},
      </if>
      <if test="commentsPictures != null">
        comments_pictures = #{commentsPictures,jdbcType=VARCHAR},
      </if>
      <if test="commentsTime != null">
        comments_time = #{commentsTime,jdbcType=VARCHAR},
      </if>
    </set>
    where comments_id = #{commentsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rimi.secondhandtradingmall.bean.Comments">
    <!--@mbg.generated-->
    update comments
    set goods_id = #{goodsId,jdbcType=INTEGER},
      telephone = #{telephone,jdbcType=VARCHAR},
      comments_content = #{commentsContent,jdbcType=VARCHAR},
      comments_pictures = #{commentsPictures,jdbcType=VARCHAR},
      comments_time = #{commentsTime,jdbcType=VARCHAR}
    where comments_id = #{commentsId,jdbcType=INTEGER}
  </update>
    <select id="selectByGoodsId" resultMap="BaseResultMap">
      select c.comments_id as commentsId,c.goods_id as goodsId,c.telephone as telephone,c.comments_content as commentsContent,c.comments_pictures as commentsPictures,c.comments_time as commentsTime,s.singlecenter_image as singlecenterImage from comments c join singlecenter s on c.telephone=s.telephone where goods_id=#{goodsId}
    </select>
</mapper>