<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rimi.secondhandtradingmall.mapper.ShoppingcarmsgMapper">
  <resultMap id="BaseResultMap" type="com.rimi.secondhandtradingmall.bean.Shoppingcarmsg">
    <!--@mbg.generated-->
    <!--@Table shoppingcarmsg-->
    <id column="shoppingcarmsg_id" jdbcType="INTEGER" property="shoppingcarmsgId" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="shoppingcarmsg_sumnum" jdbcType="INTEGER" property="shoppingcarmsgSumnum" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    shoppingcarmsg_id, telephone, shoppingcarmsg_sumnum
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from shoppingcarmsg
    where shoppingcarmsg_id = #{shoppingcarmsgId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from shoppingcarmsg
    where shoppingcarmsg_id = #{shoppingcarmsgId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="shoppingcarmsg_id" keyProperty="shoppingcarmsgId" parameterType="com.rimi.secondhandtradingmall.bean.Shoppingcarmsg" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into shoppingcarmsg (telephone, shoppingcarmsg_sumnum)
    values (#{telephone,jdbcType=VARCHAR}, #{shoppingcarmsgSumnum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="shoppingcarmsg_id" keyProperty="shoppingcarmsgId" parameterType="com.rimi.secondhandtradingmall.bean.Shoppingcarmsg" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into shoppingcarmsg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="telephone != null">
        telephone,
      </if>
      <if test="shoppingcarmsgSumnum != null">
        shoppingcarmsg_sumnum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="shoppingcarmsgSumnum != null">
        #{shoppingcarmsgSumnum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rimi.secondhandtradingmall.bean.Shoppingcarmsg">
    <!--@mbg.generated-->
    update shoppingcarmsg
    <set>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="shoppingcarmsgSumnum != null">
        shoppingcarmsg_sumnum = #{shoppingcarmsgSumnum,jdbcType=INTEGER},
      </if>
    </set>
    where shoppingcarmsg_id = #{shoppingcarmsgId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rimi.secondhandtradingmall.bean.Shoppingcarmsg">
    <!--@mbg.generated-->
    update shoppingcarmsg
    set telephone = #{telephone,jdbcType=VARCHAR},
      shoppingcarmsg_sumnum = #{shoppingcarmsgSumnum,jdbcType=INTEGER}
    where shoppingcarmsg_id = #{shoppingcarmsgId,jdbcType=INTEGER}
  </update>
    <select id="selectShoppingMsg" resultMap="BaseResultMap">
      select * from shoppingcarmsg where telephone=#{telephone}
    </select>
</mapper>