<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rimi.secondhandtradingmall.mapper.ShoppingcarMapper">
  <resultMap id="BaseResultMap" type="com.rimi.secondhandtradingmall.bean.Shoppingcar">
    <!--@mbg.generated-->
    <!--@Table shoppingcar-->
    <id column="shoppingcar_id" jdbcType="INTEGER" property="shoppingcarId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="shoppingcar_num" jdbcType="INTEGER" property="shoppingcarNum" />
    <result column="shoppingcar_subtotal" jdbcType="DOUBLE" property="shoppingcarSubtotal" />
    <result column="shoppingcar_sumsubtotal" jdbcType="DOUBLE" property="shoppingcarSumsubtotal" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="shoppingcar_size" jdbcType="VARCHAR" property="shoppingcarSize" />
    <result column="shoppingcar_color" jdbcType="VARCHAR" property="shoppingcarColor" />

    <association property="goods" javaType="com.rimi.secondhandtradingmall.bean.Goods">
      <id column="goods_id" jdbcType="INTEGER" property="goodsId"/>
      <result column="goods_name" jdbcType="VARCHAR" property="goodsName"/>
      <result column="goods_price" jdbcType="DOUBLE" property="goodsPrice"/>
      <result column="goods_uptime" jdbcType="VARCHAR" property="goodsUptime"/>
      <result column="goods_description" jdbcType="VARCHAR" property="goodsDescription"/>
      <result column="goods_paypeople" jdbcType="INTEGER" property="goodsPaypeople"/>
      <result column="goods_color" jdbcType="VARCHAR" property="goodsColor"/>
      <result column="goods_size" jdbcType="VARCHAR" property="goodsSize"/>
      <result column="goods_num" jdbcType="INTEGER" property="goodsNum"/>
      <result column="goods_purchasetime" jdbcType="INTEGER" property="goodsPurchasetime"/>
      <result column="secondclassify_id" jdbcType="INTEGER" property="secondclassifyId"/>
      <result column=" goods_logo" jdbcType="VARCHAR" property="goodsLogo"/>
    </association>
  </resultMap>



  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    shoppingcar_id, goods_id, shoppingcar_num, shoppingcar_subtotal, shoppingcar_sumsubtotal, 
    telephone, shoppingcar_size, shoppingcar_color
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from shoppingcar
    where shoppingcar_id = #{shoppingcarId,jdbcType=INTEGER}
  </select>

  <insert id="insert" keyColumn="shoppingcar_id" keyProperty="shoppingcarId" parameterType="com.rimi.secondhandtradingmall.bean.Shoppingcar" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into shoppingcar (goods_id, shoppingcar_num, shoppingcar_subtotal, 
      shoppingcar_sumsubtotal, telephone, shoppingcar_size, 
      shoppingcar_color)
    values (#{goodsId,jdbcType=INTEGER}, #{shoppingcarNum,jdbcType=INTEGER}, #{shoppingcarSubtotal,jdbcType=DOUBLE}, 
      #{shoppingcarSumsubtotal,jdbcType=DOUBLE}, #{telephone,jdbcType=VARCHAR}, #{shoppingcarSize,jdbcType=VARCHAR}, 
      #{shoppingcarColor,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="shoppingcar_id" keyProperty="shoppingcarId" parameterType="com.rimi.secondhandtradingmall.bean.Shoppingcar" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into shoppingcar
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="shoppingcarNum != null">
        shoppingcar_num,
      </if>
      <if test="shoppingcarSubtotal != null">
        shoppingcar_subtotal,
      </if>
      <if test="shoppingcarSumsubtotal != null">
        shoppingcar_sumsubtotal,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="shoppingcarSize != null">
        shoppingcar_size,
      </if>
      <if test="shoppingcarColor != null">
        shoppingcar_color,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="shoppingcarNum != null">
        #{shoppingcarNum,jdbcType=INTEGER},
      </if>
      <if test="shoppingcarSubtotal != null">
        #{shoppingcarSubtotal,jdbcType=DOUBLE},
      </if>
      <if test="shoppingcarSumsubtotal != null">
        #{shoppingcarSumsubtotal,jdbcType=DOUBLE},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="shoppingcarSize != null">
        #{shoppingcarSize,jdbcType=VARCHAR},
      </if>
      <if test="shoppingcarColor != null">
        #{shoppingcarColor,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rimi.secondhandtradingmall.bean.Shoppingcar">
    <!--@mbg.generated-->
    update shoppingcar
    <set>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="shoppingcarNum != null">
        shoppingcar_num = #{shoppingcarNum,jdbcType=INTEGER},
      </if>
      <if test="shoppingcarSubtotal != null">
        shoppingcar_subtotal = #{shoppingcarSubtotal,jdbcType=DOUBLE},
      </if>
      <if test="shoppingcarSumsubtotal != null">
        shoppingcar_sumsubtotal = #{shoppingcarSumsubtotal,jdbcType=DOUBLE},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="shoppingcarSize != null">
        shoppingcar_size = #{shoppingcarSize,jdbcType=VARCHAR},
      </if>
      <if test="shoppingcarColor != null">
        shoppingcar_color = #{shoppingcarColor,jdbcType=VARCHAR},
      </if>
    </set>
    where shoppingcar_id = #{shoppingcarId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rimi.secondhandtradingmall.bean.Shoppingcar">
    <!--@mbg.generated-->
    update shoppingcar
    set goods_id = #{goodsId,jdbcType=INTEGER},
      shoppingcar_num = #{shoppingcarNum,jdbcType=INTEGER},
      shoppingcar_subtotal = #{shoppingcarSubtotal,jdbcType=DOUBLE},
      shoppingcar_sumsubtotal = #{shoppingcarSumsubtotal,jdbcType=DOUBLE},
      telephone = #{telephone,jdbcType=VARCHAR},
      shoppingcar_size = #{shoppingcarSize,jdbcType=VARCHAR},
      shoppingcar_color = #{shoppingcarColor,jdbcType=VARCHAR}
    where shoppingcar_id = #{shoppingcarId,jdbcType=INTEGER}
  </update>
    <select id="selectAllGoodsByPhoneAndGoodsId" resultType="com.rimi.secondhandtradingmall.bean.Goods">
      select *
      from shoppingcar where goods_id = #{goodsId,jdbcType=INTEGER} and telephone = #{telephone,jdbcType=VARCHAR};
    </select>
  <delete id="dropShoppingcarGoodsByGoodsIdAndPhone">
    delete from shoppingcar
    where shoppingcar_id = #{id,jdbcType=VARCHAR} and telephone = #{telephone,jdbcType=VARCHAR};
  </delete>
    <select id="selectCountByTelephone" resultType="int">
      select SUM(shoppingcar_num)
      from shoppingcar where telephone = #{telephone,jdbcType=VARCHAR};
    </select>

    <insert id="insertByTelephone">
      insert into shoppingcar (goods_id, shoppingcar_num, shoppingcar_subtotal, telephone,shoppingcar_size,shoppingcar_color)
      values (#{goodsId,jdbcType=INTEGER},#{shoppingcarNum,jdbcType=INTEGER},#{shoppingcarSubtotal,jdbcType=DOUBLE},#{telephone,jdbcType=VARCHAR},#{shoppingcarSize,jdbcType=VARCHAR},#{shoppingcarColor,jdbcType=VARCHAR});
    </insert>
  <select id="selectAllGoodsByPhone" resultMap="BaseResultMap">
    select *
    from shoppingcar s left join goods g on s.goods_id = g.goods_id where telephone = #{telephone,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey">
    delete from shoppingcar where Shoppingcar_id = #{ShoppingcarId,jdbcType=INTEGER} and telephone = #{telephone,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteManyShoppingByPrimaryKey">
    delete from shoppingcar where Shoppingcar_id =#{ShoppingcarId,jdbcType=VARCHAR} and telephone = #{telephone,jdbcType=VARCHAR}
  </delete>
    <select id="selectShoppingcarByShoppingcarIdAndTelephone" resultMap="BaseResultMap">
      select *
      from shoppingcar where shoppingcar_id = #{shoppingcarId,jdbcType=VARCHAR} and telephone =
      #{telephone,jdbcType=VARCHAR};
    </select>
  <select id="selectOneShoppingcarPayByShoppingcarIdAndTelephone" resultType="double">
    select shoppingcar_subtotal
    from shoppingcar where shoppingcar_id = #{shoppingcarId,jdbcType=VARCHAR} and telephone =
    #{telephone,jdbcType=VARCHAR};
  </select>
</mapper>